// Enlaces y botones

a {
    color: #7f7f7f !important;
    text-decoration: none !important;
}

a.visited {
   color: #333 !important;
}

a:hover {
   color: #333 !important;
   text-decoration: none !important;
}

.btn, .btn-primary, .btn-brand, .action-primary {
    color: #d3d3d3 !important;
    background-color: #333 !important;
    background: #333 !important;
    border: none !important;
    border-radius: .25rem;
    box-shadow: none !important;
}

.btn:hover, .btn-primary:hover, .btn-brand:hover, .action-primary:hover {
    color: #fff !important;
    background-color: #7f7f7f !important;
    border: none !important;
    box-shadow: none !important;
}

// Barra de navegación

.header-global {
    border-bottom: 1px solid #919191;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    height: 105px;
}

.header-global .wrapper-header {
    padding: 0;
    max-width: none !important;
    width: auto !important;
}

.header-global .wrapper-header div.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
    width: auto !important;
    max-width: none !important;
}

.header-global .wrapper-header div.logo {
    margin: 17px 0 0 17px !important;
}

.header-global.slim .wrapper-header div.logo {
    margin: 13px 0 13px 13px !important;
}

.header-global.slim .wrapper-header div.logo img {
    margin: 0 !important;
}

.header-global .wrapper-header div.course-header {
    margin: 13px 0 13px 0 !important;
    width: 100% !important;
}

.header-global .wrapper-header ol.list-inline.nav-global {
    margin-top: 13px !important;
}

.header-global.slim .wrapper-header ol.user {
    margin-top: 5px !important;
}

.header-global.slim {
    padding: 0;
    border-bottom: 1px solid #919191;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    height: auto;
}

.header-global.slim .wrapper-header {
    padding: 0;
    max-width: none;
    height: 100%;
    min-height: 70px;
} 

.header-global.slim .wrapper-header .wrapper-user-menu {
    margin-top: 5px !important;
}

.header-global .nav-courseware li {
    display: block;
    padding: 15px 15px 0px 0px;
    text-align: center;
}


// Dashboard

.dashboard .my-courses .course .details .course-title a {
    font-size: 24px;
    font-weight: 600;
}

#my-courses {
    width: auto;
}

#my-courses .course-info {
    width: auto;
}

#my-courses .wrapper-course-actions {
    width: auto;
}

.enter-course, .empty-dashboard-message a {
    color: #d3d3d3 !important;
    background-color: #333 !important;
    background: #333 !important;
    border: none !important;
    border-radius: .25rem;
    box-shadow: none !important;
}

.enter-course:hover, .empty-dashboard-message a:hover {
    color: #fff !important;
    background-color: #7f7f7f !important;
    border: none !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 500px) {
   #dashboard-main {
       min-width: 0;
   }
}

// Contenedor general y courseware

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.view-in-course .course-wrapper,
body.view-in-course .profile-wrapper,
body.view-in-course .instructor-dashboard-wrapper-2,
body.view-in-course .wiki-wrapper,
body.view-in-course .teams-wrapper,
body.view-in-course .static_tab_wrapper {
    max-width: none;
    margin: 0;
}

.wrapper-course-material .course-material {
    padding: 0 !important;
    margin: 0 0 0 15px;
    max-width: none;
}

.wrapper-course-material .course-material .course-tabs {
    padding: 0;
}

.wrapper-course-material .course-tabs li a:visited.active {
    border-bottom-color: #333;
}

.course-tabs .tab a, .course-tabs .tab a:visited {
    line-height: 20px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content-wrapper {
    min-height: 700px ;
    max-width: none !important;
    margin: 0 auto;
}

.content-wrapper .main-container {
   padding-bottom: 40px;
}

.content-wrapper .container {
    max-width: none;
    width: auto;
    padding: 0 !important;
    margin-left: 15px;
    margin-right: 15px;
}

body.view-in-course .window-wrap {
    min-width: auto;
    background-color: whitesmoke;
}

// Listado de cursos

.courses-container {
	max-width: 85%;
	margin-top: 30px;
        color: #c00;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
}

.courses-container .courses {
	max-width: 1100px;
        width: 100%!important;
        float: none;
	margin: 0 auto;
}

.courses-container .courses .course {
	border-bottom: 0px;
	box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.125);
        margin-bottom: 30px;
        padding: 0 0 0 0;
        width:276px;
}

.courses-container .courses .course .course-info {
	margin-top: -48px;
	transition: all 0.2s ease;
}

.courses-container .courses .course .course-info:hover {
        margin-top: -200px;
}

.courses-container .meta-info {
       	background: rgba(0, 0, 0, 0.75);
	bottom: 6px;
	border: 1px solid rgba(0, 0, 0, 0.5); 
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
	position: absolute;
	right: -4px;
	height: 30px;
  	-webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
}

.courses-container .meta-info:hover {
	opacity: 0.1;
}

.courses-container .courses .course .meta-info p {
    color: #fff;
    font-style: italic;
    line-height: 1.2em;
    padding: 4px 12px 5px
}

#courses-container img {
        width: 276px;
	height: 200px;
}

.courses-container .courses .course .course-info .course-organization {
        height: 23px;
}

.courses-container .courses .course .course-info .course-code {
        line-height: 17px;
        height: 34px;
}

.courses-container .courses .course .course-info .course-title {
        margin: 5px 0 10px 0;
	height: 50px;
	color: #333;
}

.courses-container .courses .course {
	border-radius: 5px;
}

.courses-container div.inner-wrapper {
        border-radius: 5px;
}


.courses-container header.course-header {
	z-index: 3;
	opacity: 0.9;
	background-color: #d5d5d5;
	color: #333;
}

.courses-container header.course-header .row {
        margin-left: 0;
        margin-right: 0;
        min-height: 48px;
}

.courses-container header.course-header .title-link {
   	margin-top: 4px;
	font-family: "Source Sans", "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	text-shadow: 0 1px rgba(255, 255, 255, 0.6);
	text-overflow: ellipsis;
	text-transform: none;
	vertical-align: middle
}

.courses-container header.course-header .info-link {
        margin-top: 8px;
}

.course .course-info .course-info header.course-profile {
    padding-top: 0px; 
}

.course .course-info header.course-profile {
    height: 100%;
}

.course .course-info .course-profile div.col-md-11 {
    margin-bottom: 20px;
}

.course .course-info .course-sidebar .important-dates .course-enroll-item {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.course .course-info .course-sidebar .important-dates a.course-enroll-item {
    background-color: #333;
    border: none;
}

.course .course-info .course-sidebar .important-dates a.course-enroll-item:hover {
    color: #fff !important;
}

.course .course-info .container {
    min-height: 450px;
}

.courses-other {
    padding: 50px 15px 50px 30px;
}

@media only screen and (max-width: 500px) {

    #courses-container {
        margin-top: 10px;
    }
    .courses-other {  
        padding: 0;
        -ms-transform: scale(0.7, 0.7); 
        -webkit-transform: scale(0.7, 0.7); 
        transform: scale(0.7, 0.7);
    }
}

.courses-other .col-xs-4 {
    margin-top: 9px;
    margin-right: 5px;
}


// Búsqueda de cursos

#courses-container div.section-title {
    position: relative;
    margin: 0 -25px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    background: #414141;
    color: #FFFFFF;
    box-shadow: 0 0 5px #919191;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-bottom: 15px;
    padding-left: 10px;
}

#courses-container div.section-title:after, #courses-container div.section-title:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #222 transparent;
}

#courses-container div.section-title:before {
    border-width: 25px 0 0 25px; left: 0;
}

#courses-container div.section-title:after {
    border-width: 25px 25px 0 0; right: 0;
}

// Registro

.login-register-content h2 {
    color: #c00;
}


// Pie de página

#bottom-panel .row {
    margin-left: 0;
    margin-right: 0;
}

.wrapper-footer {
    background: #333 !important;
    color: #d2d2d2 !important;
    margin: 0 !important;
    padding: 25px 10px 30px 10px !important;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon a:hover {
    color: #fff !important;
    border-bottom: 1px dotted #fff !important; 
}

.wrapper-footer footer#footer-openedx .references {
    margin: 0 !important;
}

.wrapper-footer footer#footer-openedx .nav-legal a:hover {
    color: #fff !important;
    border-bottom: 1px dotted #fff !important;
}

.wrapper-footer a#poweredbyopenedx:hover {
    border-bottom: none !important;
}

.wrapper-footer footer#footer-openedx {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-footer footer#footer-openedx .colophon {
    margin: 0 !important;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
    margin: 5px 0 30px 0 !important;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon ol {
    margin: 0 !important;
}

.wrapper-footer footer#footer-openedx .nav-social li {
    margin: 0 !important;
}

.wrapper-footer footer#footer-openedx .copyright {
      color: #767676 !important;
}


// Wiki

.wiki-wrapper section.wiki .breadcrumbs-header {
    padding: 10px 0 40px;
}

.wiki-wrapper section.wiki .breadcrumb {
    padding: 0;
    background-color: transparent;
}

.wiki-wrapper section.wiki .breadcrumb li.active {
    font-weight: 800;
}


// Ventanas modales

div#email-settings-modal.modal, div#unenroll-modal.modal.unenroll-modal {
    bottom: initial;
}


// Configuracion de la cuenta

.wrapper-account-settings .wrapper-header .account-nav {
    margin: 0;
}
