header-global{
    border-bottom: 1px solid #919191;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    background: white;
    width: 100%;
    height: 76px;
}

.header-global {
	height: 105px;
}

.header-global .wrapper-header {
    padding: 0;
    max-width: 100%;
}

.header-global h1.logo {
	margin: 17px 0 17px 24px;
}

.header-global .nav-courseware li {
	display: block;
	padding: 15px 15px 0px 0px;
	text-align: center;
}

#login-btn {
	color: #c00;
}

#DIVsep1 {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #CC0000;
    height: 10px;
}

.courses-container {
	max-width: 80%;
	margin-top: 30px;
        color: #646464;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
}

.courses-container .courses {
	width: 950px;
	max-width: 1190px;
}

.courses-container .courses .course {
	border-bottom: 0px;
	box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.125);
        margin-bottom: 30px;
        padding: 0 0 0 0;
}

.courses-container .courses .course .course-info {
	margin-top: -48px;
	transition: all 0.2s ease;
}

.courses-container .courses .course .course-info:hover {
        margin-top: -200px;
}

.courses-container .meta-info {
       	background: rgba(0, 0, 0, 0.75);
	bottom: 6px;
	border: 1px solid rgba(0, 0, 0, 0.5); 
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
	position: absolute;
	right: -4px;
	height: 30px;
  	-webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
}

.courses-container .meta-info:hover {
	opacity: 0.1;
}

.courses-container .courses .course .meta-info p {
    color: #fff;
    font-style: italic;
    line-height: 1.2em;
    padding: 4px 12px 5px
}

#courses-container img {
        width: 100%;
	height: 200px;
}

.courses-container .courses .course .course-info .course-title {
        margin: 5px 0 10px 0;
	height: 60px;
}

.course {
	width: 276px !important;
}

.course-header {
	z-index: 3;
	opacity: 0.8;
	background-color: #d5d5d5;
	color: #646464;
}

.course-header .title-link {
   	margin-top: 4px;
	color: #2e2e2e;
	font-family: "Source Sans", "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	text-shadow: 0 1px rgba(255, 255, 255, 0.6);
	text-overflow: ellipsis;
	text-transform: none;
	vertical-align: middle
}

.course-header .info-link {
        margin-top: 8px;
}

