<%!
  import json
  from django.utils.translation import ugettext as _
  from django.utils import timezone
  import datetime
  from django import template
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>
 
<%namespace name='static' file='../static_content.html'/>

<link rel="stylesheet" href="${static.url("css/bootstrap/bootstrap.min.css")}">
<script type="text/javascript" src="${static.url("js/bootstrap/bootstrap.bundle.min.js")}"></script>
<script type="text/javascript" src="${static.url("js/bootstrap/bootstrap.min.js")}"></script>
<script type="text/javascript" src="${static.url("js/courseSearch.js")}"></script>
<link rel="stylesheet" href="${static.url("css/lms-courses.css")}">

<%block name="pagetitle">${_("Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">

    <%          
                courses_highlighted=[]
                orgs=[]
                for course in courses:
                    if course.display_org_with_default not in orgs and course.display_org_with_default.lower() != 'poc':
                        orgs.append(course.display_org_with_default)                    
                courses_highlighted = sorted(courses, key=lambda course: course.start)

    %>
    
   
<div class="row">
   <div id="search-panel" class="col-md-2 mx-auto">
      <div class="search-controls">
          <h8 for="home-search" class="search-bar-label">Buscar Cursos</h8> 
          <input type="text" id="home-search" value="" autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-haspopup="false" class="" placeholder="" spellcheck="false">
          <div>
            <ul style="
                 list-style: none;
                 margin: 0;
                 padding: 0;
                 text-indent: 0;
                ">

                %for org in orgs:
                <li class style="
                      overflow: hidden;    
                      text-overflow: ellipsis;    
                      white-space: nowrap;
                     ">
                    <input class="orgsfilter" type="checkbox" name="${org}" value="${org}" checked>${ org }
                </li>
                %endfor
            </ul>
            <script>
                $('.orgsfilter').change(function() {
                    var orgfilter = $(this)[0].value;
                    if ($(this).is(':checked'))
                    {
                        $(".course-organization").filter(function() {
                            // Matches exact string
                            return $(this).text() === orgfilter;
                        }).parent().parent().parent().parent().parent().parent().show()
                    }
                    else
                    {
                        $(".course-organization").filter(function() {
                            // Matches exact string
                            return $(this).text() === orgfilter;
                        }).parent().parent().parent().parent().parent().parent().hide()
                    }
                });
            </script>
          </div>
       </div>
    </div>
    <div class="col-md-10 mx-auto">
      <style>
        article.course{
            display: inline-grid;
            margin-left: 10px;
        }
        section.courses{
			width:100%!important;
		}
      </style>
      <section>
        <section id="courses-container" class="courses-container">
            <div class="section-title">
                <h5>
                  <span class="text">Estos son los cursos que hemos encontrado para ti</span>
                </h5>
    	    </div>
            <section class="courses-highlighted">
	        <section class="spinner">
	            <i class="fa fa-spinner fa-spin" style="font-size:44px"></i>
	            Buscando Cursos...
	        </section>
	        <section class="notfound" style="display:none" >
	            No se han encontrado cursos con su criterio de búsqueda.
	        </section>
                <section class="courses">
                    %for course in courses_highlighted:
                        % if course.display_org_with_default.lower() != "poc" :                                
	                    <span class="courses-listing-item" style="display:none">
                                <%include file="../course.html" args="course=course" />
                                <%include file="./about_hide.html" args="course=course"/>                                
                            </span>
                        % endif
                    %endfor	
                </section>
            </section>        
        </section>
      </section>
    </div>

    <script>
        $(document).ready(function() {
           searchParams = new URLSearchParams(window.location.search)
           query = searchParams.get("search_query");
           $("#home-search")[0].value=query;
           search(query);
        });

        $( "#home-search" ).keyup(function() {
                search($("#home-search")[0].value);
        });

        function search(search_query){
	var foundAny=false;
	$($(".courses")[0]).css("display","none");
	$($(".notfound")[0]).css("display","none");
	$($(".spinner")[0]).css("display","inline-block");
        $(".courses-listing-item").each(index=>{
        var shortAuxdiv = document.createElement("div");
        shortAuxdiv.innerHTML= $($(".courses-listing-item")[index]).find('meta')[0].content
        var shortDesc = shortAuxdiv.textContent || shortAuxdiv.innerText || "";
        var descAuxdiv = document.createElement("div");
        descAuxdiv.innerHTML= $($(".courses-listing-item")[index]).find('meta')[1].content
        var desc = descAuxdiv.textContent || descAuxdiv.innerText || "";
        var title = $($($(".courses-listing-item")[index]).find("article")[0]).attr("aria-label")
        if (title.toLowerCase().includes(search_query.toLowerCase())||desc.toLowerCase().includes(search_query.toLowerCase())||shortDesc.toLowerCase().includes(search_query.toLowerCase())){
                $($(".courses-listing-item")[index]).css("display","inline-block");
	        $($(".courses")[0]).css("display","block");
	        $($(".spinner")[0]).css("display","none")
		foundAny=true;
        }else{
                $($(".courses-listing-item")[index]).css("display","none");
        }
        });

        $('.orgsfilter').each(function(index){
        if ($('.orgsfilter')[index].checked==false){
                $(".course-organization").filter(function() {
        // Matches exact string
        return $(this).text() === $('.orgsfilter')[index].value;
                }).parent().parent().parent().parent().parent().parent().hide()
                }
        });
	
	if (!foundAny)
	{
		$($(".courses")[0]).css("display","none");
                $($(".spinner")[0]).css("display","none")
		$($(".notfound")[0]).css("display","block");
	}
        }

        search();
    </script>
</div>
</main>
