<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Política de tratamiento de datos</%block>

<main id="main" aria-label="Content" tabindex="-1">
<section class="container about">

<h1>Política de tratamiento de datos</h1>

<p>Las presentes condiciones generales de uso del Sitio Web UPV[X], cuyo alojamiento es ofrecido por la UNIVERSITAT POLITÈCNICA DE VALÈNCIA, en adelante, UPV, entidad que es titular del dominio web http://upvx.es/ (en adelante SITIO WEB).</p>

<p>La estructura del presente aviso legal está reflejada en el siguiente índice:</p>
<ul>
<li><a href="#1">1. Responsable del tratamiento</a></li>
<li><a href="#2">. Finalidad del tratamiento</a></li>
<li><a href="#3">3. Duración</a></li>
<li><a href="#4">4. Legitimación del tratamiento</a></li>
<li><a href="#5">5. Lugar donde se guarda la información</a></li>
<li><a href="#6">6. Cesión y transferencia</a></li>
<li><a href="#7">7. Derechos de las personas interesadas</a></li>
<li><a href="#8">8. Derechos</a></li>
<li><a href="#9">9. Seguridad</a></li>
<li><a href="#10">10. Cookies</a></li>
<li><a href="#11">11. Cambios en la presente política de privacidad</a></li>
</ul>

<p>El objeto de este aviso legal es cumplir con todas las obligaciones a las que está sujeto un servicio de la sociedad información como el prestado por el SITIO WEB, así como establecer las Condiciones Generales que regulan el acceso a y el uso del mismo.</p>

<h2> <a name="1"></a>1. Responsable del tratamiento</h2>

<p>Identidad: Universitat Politècnica de Valencia (en adelante, «UPV»)<br>
CIF: Q-4618002B</p>
<p>Dirección postal: Camino de Vera, sn (46022 Valencia)
Contacto del delegado de protección de datos: admin@upvx.es</p>
<p>La UPV, como responsable del sitio web, de conformidad con lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales (en adelante, «RGPD»), y la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y del comercio electrónico (LSSICE), le informa de que ha implantado las medidas de seguridad necesarias, de índole técnica y organizativa, para garantizar y proteger la confidencialidad, la integridad y la disponibilidad de los datos introducidos.</p>

<h2> <a name="2"></a>2. Finalidad del tratamiento</h2>
<p>
Sus datos personales solo se utilizarán para las siguientes finalidades:
<ul>
<li>Gestionar el envío de información sobre la oferta formativa de la UPV y conocer su opinión con respecto a la información que le hemos facilitado. Para ello podremos elaborar perfiles que nos permitan enviarte aquella información que te interese más.</li>
<li>Gestionar tu inscripción en los cursos y el desarrollo y seguimiento de los mismos, incluyendo la información sobre la certificación de cursos superados en el caso de que la haya.</li> 
<li>Realizar investigaciones agregadas sobre el perfil de los alumnos y el seguimiento de los cursos que nos permitan mejorar su calidad.</li>
</ul>
No trataremos tus datos personales con otra finalidad que las aquí descritas excepto por obligación legal o requerimiento judicial.</p>

<h2> <a name="3"></a>3. Duración</h2>
<p>
Todos los datos quedan registrados en la plataforma hasta que solicites que sean suprimidos y pueden ser modificados por ti a través de la interfaz de la plataforma.
</p>

<h2> <a name="4"></a>4. Legitimación del tratamiento</h2>
<p>
La base legal para el tratamiento es el consentimiento del interesado y, en su caso, la derivada de la prestación de un servicio educativo. 
</p>
<h2> <a name="5"></a>5. Lugar donde se guarda la información</h2>
<p>
La información proporcionada se guarda en los servidores de la UPV, aunque en algún momento podría ser almacenada en proveedores y empresas encargados del tratamiento de datos que tengan los servidores en el territorio de la Unión Europea o estén amparados por el Privacy Shield. 
</p>

<h2> <a name="6"></a>6. Cesión y transferencia</h2>
<p>
Los datos facilitados serán tratados únicamente por la UPV, aunque pueden cederse a empresas encargadas del tratamiento de datos actuando como proveedor de servicios para la misma (envío de comunicaciones, servicios de generación de audiencias similares, etc.).
También pueden producirse transferencias internacionales conforme al régimen de autorización y notificación previa que establece la normativa vigente.
</p>
<h2> <a name="7"></a>7. Derechos de las personas interesadas</h2>
<p>
Puedes solicitar el ejercicio de los siguientes derechos ante la UPV presentando un escrito a la dirección postal del encabezado o enviando un mensaje electrónico a admin@upvx.es y adjuntando una fotocopia del DNI o cualquier otro documento análogo en derecho, como indica la ley.
</p>
<h2> <a name="8"></a>8. Derechos</h2>
<ul>
<li>Derecho de acceso: permite al interesado conocer y obtener información sobre sus datos de carácter personal sometidos a tratamiento.</li>

<li>Derecho de rectificación o supresión: permite corregir errores y modificar los datos que resulten inexactos o incompletos.</li>

<li>Derecho de cancelación: permite que se supriman los datos que resulten inadecuados o excesivos.</li>

<li>Derecho de oposición: derecho del interesado a que no se realice el tratamiento de sus datos de carácter personal o se cese en su tratamiento.</li>

<li>Limitación del tratamiento: conlleva el marcaje de los datos personales conservados, con el fin de limitar su futuro tratamiento.</li>

<li>Portabilidad de los datos: facilitación de los datos objeto de tratamiento al interesado, para que pueda transmitirlos a otro responsable sin impedimentos.</li>

<li>Derecho a no ser objeto de decisiones individuales automatizadas respecto a las cuales el interesado no haya expresado su consentimiento (incluida la elaboración de perfiles).</li>

<li>Derecho a no ser objeto de una decisión basada en el tratamiento automatizado que produzca efectos o afecte significativamente.</li>

<li>Derecho a retirar el consentimiento prestado en cualquier momento.
El interesado también tiene derecho a presentar una reclamación ante la <a href='https://www.agpd.es/'>autoridad de control</a> si considera que pueden haberse vulnerado sus derechos con respecto a la protección de sus datos.</li>
</ul>
<h2> <a name="9"></a>9. Seguridad</h2>
<p>
La UPV, ha adoptado todas las medidas técnicas y organizativas necesarias para salvaguardar la seguridad seguridad de los datos, tal como exige la normativa vigente que regula el reglamento de medios de seguridad de los ficheros que contengan datos de carácter personal.
</p>
<h2> <a name="10"></a>10. Cookies</h2>
<h3>1. ¿Qué son las cookies?</h3>
<p>
Las cookies son archivos de texto que se descargan al navegar por internet al equipo terminal del usuario (ordenador, tableta, teléfono móvil...) y que el navegador utilizado guarda en el disco duro o memoria no volátil de su equipo. Los datos contenidos en las cookies pueden ser analizados por la UPV para mejorar la usabilidad de las webs y ofrecer una información y unos servicios más personalizados.
Los datos de navegación recuperados por las cookies son anónimos y no están asociados a ninguna persona. La información personal será facilitada a la UPV de forma explícita por el usuario.
El usuario puede borrar o desactivar las cookies desde la configuración de los navegadores. Dada la naturaleza personalizada del servicio ofrecido es posible que parte del mismo deje de funcionar..
</p>
<h3>2. ¿Qué tipo de cookies se utilizan en la UPV?</h3>
<ul>
	 <li>Según la entidad que las gestiona:
     <ul>
        <li>Propias. Son cookies que se envían desde un equipo o dominio gestionado por la UPV al navegador del usuario.</li>
        <li>De terceros. Son cookies que se envían al terminal del usuario desde un equipo o dominio no gestionado ni controlado por la UPV. En este caso se incluyen también las cookies instaladas por la UPV que recopilan información gestionada por terceros. Las cookies de terceros pueden utilizarse para la medición y el análisis del comportamiento de los usuarios con el objetivo de mejorar su experiencia en la web de la UPV.</li>
    </ul>
    </li>
    <li>Según el plazo de tiempo que permanezcan activadas:
    <ul>
        <li>De sesión. Recogen datos mientras el usuario navega por la web de la UPV con el fin de prestar el servicio solicitado. Caducan o se borran cuando se cierra el navegador.</li>
        <li>Persistentes. Se guardan en el equipo del usuario. Caducan en un periodo largo o medio de tiempo o no lo hacen nunca.</li>
    </ul>
    </li>
    <li>Según la finalidad:
    <ul>
        <li>Técnicas. Son las necesarias para la correcta navegación por la página web.
        <li>De personalización. Permiten al usuario definir las características (idioma) para la navegación por la página web.</li>
        <li>De análisis. Permiten a la UPV el análisis vinculado a la navegación realizada por el usuario con el fin de llevar a cabo un seguimiento del uso de la página web, así como hacer estadísticas de los contenidos más visitados, del número de visitantes, etc.</li>
    </ul>
    </li>
</ul>

<h2>3. ¿Cuáles son las finalidades de las cookies utilizadas en la UPV?</h2>

<p>Las finalidades de las cookies utilizadas en la UPV son:</p>
<ul>
<li>Técnicas. El objetivo de este tipo de cookies es hacer posible que la navegación por la página sea satisfactoria. Este tipo de cookies permite que el sistema reconozca a los usuarios registrados y les recuerde el nombre de usuario y la contraseña, entre otras funciones.</li>
<li>De personalización. Estas cookies permiten que el usuario acceda al web de la UPV con algunas características de carácter general predefinidas, tales como el idioma, el navegador o la localización geográfica desde donde se accede al servicio. Esta información de los usuarios permite a la UPV poder ofrecer un mejor servicio y más personalizado.</li>
<li>Analíticas. Los datos anónimos contenidos en estas cookies permiten la medición, el seguimiento y el estudio de la actividad de los usuarios a fin de incorporar mejoras en los sitios web, aplicaciones y plataformas de la UPV.</li>
</ul>

<h2> <a name="11"></a>11. Cambios en la presente política de privacidad</h2>
<p>
La UPV se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales.
</p>
</section>
</main>
