<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _  %>
<%! from django.utils import timezone %>

<section id="courses-container" class="courses-container">
  
  <%
      courses_highlighted=[]
      courses_edxorg=[]
      future=[]
      past=[]
      for course in courses:
                
                if course.display_org_with_default.lower() != 'poc':
                  if course.display_org_with_default.lower() == "edxorg":
	            courses_edxorg.append(course)
                  else: 
                    if course.end == None:
                      if course.start > timezone.now():
                        future.append(course)
                      else:
                        past.append(course)
                      endif
                    else:
                      if course.end > timezone.now():
                        if course.start > timezone.now():
                          future.append(course)
                        else:
                          past.append(course)
                        endif
                      endif 
                    endif
                  endif 
                endif
  
      future = sorted(future, key=lambda course: course.start)
      past = sorted(past, key=lambda course: course.start,reverse=True)
      courses_highlighted= future + past
      courses_edxorg = sorted(courses_edxorg, key=lambda course: course.start)
  %>

  <section class="courses-highlighted">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
	<div class="section-title">
          <h5>
            <span class="text">Cursos destacados</span>
          </h5>
    	</div>
	<div id="carousel-courses-highlighted" class="carousel slide lazy" data-ride="carousel">
    	  <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="row">
 	    % for course in courses_highlighted[:settings.HOMEPAGE_COURSE_MAX]:
                <div class="col-md-4">
                <%include file="course.html" args="course=course" />
                </div>
                % if (loop.index % 3) == 2 and loop.index < (len(courses_highlighted) - 1) :
                  </div>
                  </div>
                  <div class="carousel-item">
                  <div class="row">
                % endif
            % endfor
            </div>
            </div>
	  </div>

  	  <a class="carousel-control-prev" href="#carousel-courses-highlighted" role="button" data-slide="prev">
            <span class="icon fa fa-chevron-left" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#carousel-courses-highlighted" role="button" data-slide="next">
            <span class="icon fa fa-chevron-right" aria-hidden="true"></span>
          </a>
	</div>
        
      </section>
      ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
      % endif
   % endif
  </section>

  <section class="courses-edxorg">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
    	<div class="section-title">
          <h5>
            <span class="text">Cursos realizados en edX.org</span>
          </h5>
    	</div>
        <div id="carousel-courses-edxorg" class="carousel slide lazy" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="row">
            % for course in courses_edxorg[:settings.HOMEPAGE_COURSE_MAX]:
                <div class="col-md-4">
                <%include file="course.html" args="course=course" />
                </div>
                % if (loop.index % 3) == 2 and loop.index < (len(courses_edxorg) - 1) :
                  </div>
                  </div>
                  <div class="carousel-item">
                  <div class="row">
                % endif
            % endfor
            </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carousel-courses-edxorg" role="button" data-slide="prev">
            <span class="icon fa fa-chevron-left" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#carousel-courses-edxorg" role="button" data-slide="next">
            <span class="icon fa fa-chevron-right" aria-hidden="true"></span>
          </a>
        </div>

      </section>
      <script type="text/javascript">
	$('#carousel-courses-highlighted').carousel({
  		interval: false
	})
	$('#carousel-courses-edxorg').carousel({
        	interval: false
        })

        // load images in active carousel item
        $('.carousel.lazy').each(function() {
          $('.carousel-item.active').each(function() {
            var imgs = $(this).find('img');
            imgs.each(function() {
              var datasrc = $(this).attr('data-src');
              if (datasrc) {
                $(this).attr('src', datasrc);
                $(this).removeAttr('data-src');
              };
            });
          });
        })
        
        //load images when carousel slides
        $('.carousel.lazy').on('slide.bs.carousel', function(e) {
          var imgs = $(e.relatedTarget).find('img');
          imgs.each(function() {
             var datasrc = $(this).attr('data-src');
             if (datasrc) {
              	$(this).attr('src', datasrc);
                $(this).removeAttr('data-src');
             };
          });
        })

      </script>
      ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
      % endif
   % endif
    <script type="text/javascript">
                $(".edxorglink").unbind().click(function(event) {
                    event.preventDefault();
                    if (checkCookie(this.attributes['courseid'].value) == "True")
                    {
                        window.location.href=this.attributes['edxorg'].value;
                    }
                    else
                    {
                        SetCookie(this.attributes['courseid'].value,"True",30);
                        window.location.href=this.attributes['local'].value
                    }
                    return false;
                  });
      </script>
  </section>
  
  <section class="courses-other">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <a href="/courses">
          <div class="row">
            <div class="col-xs-4">
              <h2>Ver todos los cursos</h2>
            </div>
            <div class="col-xs-4" style="margin-top: 19px">
              <span class="icon fa fa-chevron-right" style="font-size:25px;color:#7f7f7f;"></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mx-auto">
        <a href="https://edx.org/school/upvalenciax">
          <div class="row">
            <div class="col-xs-4">
              <h2>UPValenciaX </h2>
            </div>
            <div class="col-xs-4">
              <img src="${static.url('images/edx-logo.png')}" alt="UPValenciaX" style="width:93px; height:47px">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mx-auto"></div>
    </div>
  </section>

</section>
