<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils import timezone
from django.utils.timezone import datetime
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import get_course_about_section
from courseware.courses import get_course
%>
<%page args="course" expression_filter="h"/>
<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}" org="${course.org}">


    % if course.display_org_with_default.lower() == "coursebuilder":
    <a href="http://${course.display_number_with_default}.upvx.es">
    % elif course.display_org_with_default.lower() == "edxorg":
    <a href="" courseid='${course.id.to_deprecated_string().replace("/","_")}' edxorg="https://www.edx.org/course/${course.display_number_with_default}-upvalenciax-${course.location.run}" local="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="edxorglink">
    % else:
    <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
    % endif  
    <div class="inner-wrapper" style="height:200px; overflow:hidden;">
    <header class="course-header">
      <div class="row">
        <div class="title-link col-md-10">
          <span class="course-code">${course.display_name_with_default}</span>
        </div>
        <div class="info-link col-md-2">
          <i class="fa fa-chevron-circle-right" style="font-size:24px"></i>
        </div>
      </div>
    </header>
    <div class="course-info" aria-hidden="true">
      <div class="course-image">
        <img data-src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
      </div>
      <h2 class="course-name">
        <!--<span class="course-organization">${course.display_org_with_default}</span>
        <span class="course-code">${course.display_number_with_default}</span>
        <span class="course-title">${course.display_name_with_default}</span>-->
        <%
		courseobject = get_course(course.id)
		courseDescription = get_course_about_section(request, courseobject, 'short_description')
	    %>	      
	${courseDescription}
        % if course.start > timezone.now():
          <span class="course-availability" hidden="true">S</span> 
        % else:
          % if course.end != None: 
            % if course.end < timezone.now():
              <span class="course-availability" hidden="true">A</span>
            % else:
              <span class="course-availability" hidden="true">C</span>
            % endif
          % else:
            <span class="course-availability" hidden="true">C</span>
          % endif
        % endif
      </h2>

      <%
      if course.start is not None:
          course_date_string = course.start.strftime('%-d %b %Y')
      else:
          course_date_string = ''
      %>

      % if course.advertised_start is not None:
          <div class="course-date" aria-hidden="true">${_("Starts")}: ${course.advertised_start}</div>
      % else:
          <div class="course-date localized_datetime" aria-hidden="true">${_("Starts")}: ${course_date_string}</div>
      % endif
    </div>
    <div class="sr">
      <ul>
        <li>${course.display_org_with_default}</li>
        <li>${course.display_number_with_default}</li>
        % if course.advertised_start is not None:
            <li>${_("Starts")}: <time itemprop="startDate">${course.advertised_start}</time></li>
        % else:
            <li>${_("Starts")}: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="${course_date_string}"></time></li>
        % endif
      </ul>
    </div>
    </div>
    <div class="meta-info">
      <p class="university">${course.display_org_with_default | h}</p>
    </div>
  </a>
</article>
