<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _  %>

<section id="courses-container" class="courses-container">
  
  <%
      courses_highlighted=[]
      courses_edxorg=[]
      for course in courses:

                if course.display_org_with_default.lower() == "edxorg":
	        	courses_edxorg.append(course)		
		endif

      courses_highlighted = sorted(courses, key=lambda course: course.start)
      courses_edxorg = sorted(courses_edxorg, key=lambda course: course.start)
  %>

  <section class="courses-highlighted">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
	<div class="section-title">
          <h5>
            <span class="text">Cursos destacados</span>
          </h5>
    	</div>
	<div id="carousel-courses-highlighted" class="carousel slide" data-ride="carousel">
    	  <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="row">
 	    % for course in courses_highlighted[:settings.HOMEPAGE_COURSE_MAX]:
                <div class="col-md-4">
		<%include file="course.html" args="course=course" />
                </div>
                % if (loop.index % 3) == 2 and loop.index < (len(courses_highlighted) - 1) :
                  </div>
                  </div>
                  <div class="carousel-item">
                  <div class="row">
                % endif
            % endfor
            </div>
            </div>
	  </div>

  	  <a class="carousel-control-prev" href="#carousel-courses-highlighted" role="button" data-slide="prev">
            <span class="icon fa fa-chevron-left" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#carousel-courses-highlighted" role="button" data-slide="next">
            <span class="icon fa fa-chevron-right" aria-hidden="true"></span>
          </a>
	</div>

      </section>
      ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
      % endif
   % endif
  </section>

  <section class="courses-edxorg">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
    	<div class="section-title">
          <h5>
            <span class="text">Cursos realizados en edx.org</span>
          </h5>
    	</div>
        <div id="carousel-courses-edxorg" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="row">
            % for course in courses_edxorg[:settings.HOMEPAGE_COURSE_MAX]:
                <div class="col-md-4">
                <%include file="course.html" args="course=course" />
                </div>
                % if (loop.index % 3) == 2 and loop.index < (len(courses_edxorg) - 1) :
                  </div>
                  </div>
                  <div class="carousel-item">
                  <div class="row">
                % endif
            % endfor
            </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carousel-courses-edxorg" role="button" data-slide="prev">
            <span class="icon fa fa-chevron-left" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#carousel-courses-edxorg" role="button" data-slide="next">
            <span class="icon fa fa-chevron-right" aria-hidden="true"></span>
          </a>
        </div>

      </section>
      <script type="text/javascript">
	$('#carousel-courses-highlighted').carousel({
  		interval: false
	})
	$('#carousel-courses-edxorg').carousel({
        	interval: false
        })
      </script>
      ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
      % endif
   % endif
  </section>

</section>
