<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<link rel="stylesheet" href="${static.url("css/bootstrap/bootstrap.min.css")}">
<script type="text/javascript" src="${static.url("js/bootstrap/bootstrap.bundle.min.js")}"></script>
<script type="text/javascript" src="${static.url("js/bootstrap/bootstrap.min.js")}"></script>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>
	<%include file="${static.get_template_path('search_courses.html')}" />
        <%include file="${static.get_template_path('carousel.html')}" />
      </header>
      <%include file="${static.get_template_path('courses_list.html')}" />
      <section id="bottom-panel"> 
      <div class="row">
        <div id="moocs-faq" class="col-md-9 mx-auto"> 
          <%include file="${static.get_template_path('moocs_definition.html')}" />
        </div>
        <div id="upvx-twitter" class="col-md-3 mx-auto">
          <%include file="${static.get_template_path('twitter_news.html')}" />
        </div>
      </div>
      </section>
    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
