<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<link rel="stylesheet" href="${static.url("css/lms-search-courses.css")}">

<section id="course-search">
	<header>
	</header>
	<div class="search">
		<label class="search-bar-label">Buscar:</label>
		<input type="text" id="search-text" class="search-input">
		<button id="search-button" class="btn btn-transparent search-submit" type="submit">
			<span id="search-icon" class="search-icon fa fa-search" aria-hidden="true"></span>
		</button>
	</div>

        <script>
        	$("#search-text").keypress(function(e) {
                  if(e.which == 13) {
                    $("#search-button").click();
                  }
                });
        	$("#search-button").click(function(){
                   window.location = '/courses?search_query=' + $("#search-text")[0].value;
        	});
	</script>
</section>
