<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<link rel="stylesheet" href="${static.url("css/lms-twitter.css")}">
<script type="text/javascript" src="${static.url("js/twitterFetcher_min.js")}"></script>
<script type="text/javascript" src="${static.url("js/twitterNews.js")}"></script>

<section class="twitter-container">
  <section class="twitter-profiles">
    <div id="upvxProfile" class="carousel slide vertical" data-ride="carousel">
	<ol class="carousel-indicators">
	    <li data-target="#upvxProfile" data-slide-to="0" class="active"></li>
	    <li data-target="#upvxProfile" data-slide-to="1"></li>
	    <li data-target="#upvxProfile" data-slide-to="2"></li>
	    <li data-target="#upvxProfile" data-slide-to="3"></li>
	    <li data-target="#upvxProfile" data-slide-to="4"></li>
	    <li data-target="#upvxProfile" data-slide-to="5"></li>
	    <li data-target="#upvxProfile" data-slide-to="6"></li>
  	</ol>	
    </div>
  </section>
</section>
