## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

## This template should not use the target student's details when masquerading, see TNL-4895
<%
self.real_user = getattr(user, 'real_user', user)
%>

<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
%>


<ol class="user">
  <li class="primary">
    <a href="${reverse('dashboard')}" class="user-link">
      <span class="sr">${_("Dashboard for:")}</span>
      <%
        username = self.real_user.username
        profile_image_url = get_profile_image_urls_for_user(self.real_user)['medium']
      %>
      <img class="user-image-frame" src="${profile_image_url}" alt="">
      <div class="label-username">${username}</div>
    </a>
    <li class="primary nav-item dropdown mt-2 nav-item-hidden-collapsed">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
      <ul class="dropdown-menu dropdown-menu-right" id="${_("Usermenu")}" aria-labelledby="dropdownMenuLink" tabindex="-1">
        <a class="dropdown-item" href="${reverse('dashboard')}">${_("Dashboard")}</a>
        <a class="dropdown-item" href="${reverse('learner_profile', kwargs={'username': self.real_user.username})}">${_("Profile")}</a>
        <a class="dropdown-item" href="${reverse('account_settings')}">${_("Account")}</a>
        <a class="dropdown-item" href="${reverse('logout')}">${_("Sign Out")}</a>
      </ul>
    </li>
  </li>
</ol>
