.container > div {
    display: inline-flex; 
    /* table-layout: fixed; */
    width: 100%;
    border: 1px solid #c8c8c8;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.container row > div {
    /* display: table; */
    /* table-layout: fixed; */
    border: 1px solid #c8c8c8;
    background: white;
}

.home {
    max-width: unset;
    margin: 0 auto;
    padding: 20px 20px 10px 20px;
}

body.view-in-course .info-wrapper {
    max-width: unset;
    margin: 0 auto;
}
