.botonCookie {
   background-color: #555555;
   border: 1px solid #555555;
   color: #FFFFFF;
   margin: 2px;
   background-image: none;
   text-shadow: none;
   box-shadow: none;
}

#cookie1 {
   bottom: 0px;
   margin: 0;
   left: auto;
}

.cookiesms {
   width: 100%;
   height: 140px;
   margin: 0 auto;
   font-size: inherit;
   clear: both;
   font-weight: bold;
   color: #FFF;
   bottom: 0px;
   position: fixed;
   background-color: #191919;
   opacity: 0.9;
   filter: alpha(opacity=90);
   transition: bottom 1s;
   -webkit-transition: bottom 1s;
   -webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
   -moz-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
   box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
   z-index: 999999999;
}

p#cookiestext {
   padding: 40px 40px 20px 20px;
}

i#cookiesaccept {
   float: right;
   margin-right: 20px;
   margin-top: 20px;
   background-color: #333;
   height: 18px;
   width: 18px;
   text-align: center;
   border-radius: 4px;
}

i#cookiesaccept:hover {
   color: #7d7d7d;
}
