/* line 90, /edx/app/edxapp/edx-platform/lms/static/sass/base/_mixins.scss */
footer#footer-openedx a:disabled, footer#footer-openedx a.is-disabled, footer#footer-openedx a.disabled, footer#footer-openedx a:visited:disabled, footer#footer-openedx a.is-disabled:visited, footer#footer-openedx a.disabled:visited, footer#footer-openedx .is-disabled {
  pointer-events: none;
  outline: none;
  cursor: default; }

/* line 99, /edx/app/edxapp/edx-platform/lms/static/sass/base/_mixins.scss */
footer#footer-openedx .help-tab {
  z-index: 100; }

/* line 125, /edx/app/edxapp/edx-platform/lms/static/sass/base/_mixins.scss */
footer#footer-openedx .sr, footer#footer-openedx .sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  word-wrap: normal; }

/* line 141, /edx/app/edxapp/edx-platform/lms/static/sass/base/_mixins.scss */
footer#footer-openedx .sr, footer#footer-openedx .sr-only {
  background: white;
  color: black; }

/* line 12, /edx/app/edxapp/edx-platform/lms/static/sass/lms-footer-rtl.scss */
footer#footer-openedx {
  /* HTML5 Boilerplate  */
  /* Fix for CodeMirror: prevent top-level span from affecting deeply-embedded span in CodeMirror */ }
  /* line 3, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx article, footer#footer-openedx aside, footer#footer-openedx details, footer#footer-openedx figcaption, footer#footer-openedx figure, footer#footer-openedx footer, footer#footer-openedx header, footer#footer-openedx nav, footer#footer-openedx section {
    display: block; }
  /* line 4, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx audio, footer#footer-openedx canvas, footer#footer-openedx video {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  /* line 5, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx audio:not([controls]) {
    display: none; }
  /* line 6, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx [hidden] {
    display: none; }
  /* line 8, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  /* line 9, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx html, footer#footer-openedx button, footer#footer-openedx input, footer#footer-openedx select, footer#footer-openedx textarea {
    font-family: sans-serif;
    color: #222; }
  /* line 10, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4; }
  /* line 12, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx a {
    color: #005584; }
  /* line 13, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx a:visited {
    color: #003655; }
  /* line 14, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx a:hover, footer#footer-openedx a:focus {
    color: #0079BC; }
  /* line 15, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx abbr[title] {
    border-bottom: 1px dotted; }
  /* line 16, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx b, footer#footer-openedx strong {
    font-weight: bold; }
  /* line 17, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx blockquote {
    margin: 1em 40px; }
  /* line 18, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx dfn {
    font-style: italic; }
  /* line 19, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }
  /* line 20, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx ins {
    background: #ff9;
    color: #000;
    text-decoration: none; }
  /* line 21, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold; }
  /* line 22, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx pre, footer#footer-openedx code, footer#footer-openedx kbd, footer#footer-openedx samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em; }
  /* line 23, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }
  /* line 25, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx q {
    quotes: none; }
  /* line 26, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx q:before, footer#footer-openedx q:after {
    content: "";
    content: none; }
  /* line 27, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx small {
    font-size: 85%; }
  /* line 28, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx sub, footer#footer-openedx sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  /* line 29, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx sup {
    top: -0.5em; }
  /* line 30, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx sub {
    bottom: -0.25em; }
  /* line 32, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx ul, footer#footer-openedx ol {
    padding: 0 40px 0 0;
    margin: 1em 0; }
  /* line 33, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx dd {
    margin: 0 0 0 40px; }
  /* line 34, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx nav ul, footer#footer-openedx nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0; }
  /* line 36, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle; }
  /* line 37, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx svg:not(:root) {
    overflow: hidden; }
  /* line 38, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx figure {
    margin: 0; }
  /* line 40, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx form {
    margin: 0; }
  /* line 41, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  /* line 43, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx label {
    cursor: pointer; }
  /* line 44, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal; }
  /* line 45, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx button, footer#footer-openedx input, footer#footer-openedx select, footer#footer-openedx textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle; }
  /* line 46, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx button, footer#footer-openedx input {
    line-height: normal; }
  /* line 47, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx button, footer#footer-openedx input[type="button"], footer#footer-openedx input[type="reset"], footer#footer-openedx input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible; }
  /* line 48, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx button[disabled], footer#footer-openedx input[disabled] {
    cursor: default; }
  /* line 49, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx input[type="checkbox"], footer#footer-openedx input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px; }
  /* line 50, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  /* line 51, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx input[type="search"]::-webkit-search-decoration, footer#footer-openedx input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; }
  /* line 52, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx button::-moz-focus-inner, footer#footer-openedx input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  /* line 53, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx button:-moz-focusring {
    outline: 1px dotted black; }
  /* line 54, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical; }
  /* line 57, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx table {
    border-collapse: collapse;
    border-spacing: 0; }
  /* line 58, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx td {
    vertical-align: top; }
  /* line 60, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0; }
  /* line 75, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0; }
  /* line 76, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .ir br {
    display: none; }
  /* line 77, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .hidden {
    display: none !important;
    visibility: hidden; }
  /* line 78, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  /* line 79, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .visuallyhidden.focusable:active, footer#footer-openedx .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }
  /* line 80, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .invisible {
    visibility: hidden; }
  /* line 81, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .clearfix:before, footer#footer-openedx .clearfix:after {
    content: "";
    display: table; }
  /* line 82, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .clearfix:after {
    clear: both; }
  /* line 83, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
  footer#footer-openedx .clearfix {
    *zoom: 1; }
  @media print {
    /* line 86, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx * {
      background: transparent;
      color: black !important;
      box-shadow: none !important;
      text-shadow: none !important;
      filter: none !important;
      -ms-filter: none !important; }
    /* line 87, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx html, footer#footer-openedx body {
      background: transparent !important; }
    /* line 88, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx a, footer#footer-openedx a:visited {
      text-decoration: underline; }
    /* line 89, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx abbr[title]:after {
      content: " (" attr(title) ")"; }
    /* line 90, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx .ir a:after {
      content: ""; }
    /* line 91, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx pre, footer#footer-openedx blockquote {
      border: 1px solid #999;
      page-break-inside: avoid; }
    /* line 92, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx thead {
      display: table-header-group; }
    /* line 93, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx tr, footer#footer-openedx img {
      page-break-inside: avoid; }
    /* line 94, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx img {
      max-width: 100% !important; }
    @page {
      /* line 12, /edx/app/edxapp/edx-platform/lms/static/sass/lms-footer-rtl.scss */
      footer#footer-openedx {
        margin: 1cm 1.2cm 2cm; } }
    /* line 96, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx p, footer#footer-openedx h2, footer#footer-openedx h3 {
      orphans: 3;
      widows: 3; }
    /* line 97, /edx/app/edxapp/edx-platform/lms/static/sass/base/_reset.scss */
    footer#footer-openedx h2, footer#footer-openedx h3 {
      page-break-after: avoid; } }
  /* line 83, /edx/app/edxapp/edx-platform/lms/static/sass/base/_extends.scss */
  footer#footer-openedx .header-global .course-header {
    display: none; }
  /* line 135, /edx/app/edxapp/edx-platform/lms/static/sass/base/_extends.scss */
  footer#footer-openedx .is-deprecated {
    background: #fff6dd;
    padding: 4px 10px;
    color: #8c6a11; }
  @media print {
    /* line 151, /edx/app/edxapp/edx-platform/lms/static/sass/base/_extends.scss */
    footer#footer-openedx .help-tab, footer#footer-openedx .nav-skip,
    footer#footer-openedx .transcript-skip, footer#footer-openedx .wrapper-footer {
      display: none; } }
  /* line 8, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx html, footer#footer-openedx body {
    font-family: "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
    font-size: 1em;
    font-style: normal;
    line-height: 1em; }
  /* line 15, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx html {
    background: white; }
  /* line 19, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx body {
    background: whitesmoke; }
  /* line 24, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx [tabindex="-1"] {
    outline: none; }
  /* line 28, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx h1, footer#footer-openedx h2, footer#footer-openedx h3, footer#footer-openedx h4, footer#footer-openedx h5, footer#footer-openedx h6 {
    color: #3c3c3c;
    font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
    margin: 0; }
  /* line 34, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx h1 {
    color: #3c3c3c;
    font: normal 2em/1.4em "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
    margin-bottom: 30px;
    text-align: center; }
  /* line 41, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx h2 {
    color: #646464;
    font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased; }
  /* line 48, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx p + h2, footer#footer-openedx ul + h2, footer#footer-openedx ol + h2 {
    margin-top: 40px; }
  /* line 52, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx p {
    color: inherit;
    margin: 0; }
  /* line 57, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx span {
    color: inherit;
    font: inherit; }
  /* line 63, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .CodeMirror span {
    font: inherit; }
  /* line 67, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .text-center {
    text-align: center; }
  /* line 71, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .text-dark-grey {
    color: #4a4a4a;
    font-size: 24px; }
  /* line 76, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx p + p, footer#footer-openedx ul + p, footer#footer-openedx ol + p {
    margin-top: 20px; }
  /* line 81, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx p a, footer#footer-openedx p a:visited {
    color: #0075b4;
    font: inherit;
    font-weight: inherit;
    text-decoration: none;
    transition: all 0.1s linear 0s; }
    /* line 88, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx p a:hover, footer#footer-openedx p a:focus, footer#footer-openedx p a:visited:hover, footer#footer-openedx p a:visited:focus {
      color: #065683;
      text-decoration: underline; }
  /* line 95, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx a, footer#footer-openedx a:visited {
    color: #0075b4;
    font: inherit;
    text-decoration: none;
    transition: all 0.1s linear 0s; }
    /* line 101, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx a:hover, footer#footer-openedx a:focus, footer#footer-openedx a:visited:hover, footer#footer-openedx a:visited:focus {
      color: #065683;
      text-decoration: underline; }
    /* line 107, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx a:disabled, footer#footer-openedx a.is-disabled, footer#footer-openedx a.disabled, footer#footer-openedx a:visited:disabled, footer#footer-openedx a:visited.is-disabled, footer#footer-openedx a:visited.disabled {
      opacity: 0.5;
      cursor: not-allowed; }
  /* line 114, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .content-wrapper {
    width: 100%;
    margin: 0 auto;
    background: white; }
    @media print {
      /* line 114, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
      footer#footer-openedx .content-wrapper {
        padding-bottom: 0; } }
  /* line 124, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .container {
    box-sizing: border-box;
    margin: 0 auto 0;
    padding: 40px 0;
    max-width: 1180px;
    min-width: 760px;
    width: 100%; }
    /* line 15, /edx/app/edxapp/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
    footer#footer-openedx .container:after {
      content: "";
      display: table;
      clear: both; }
  /* line 134, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .no-min-scale {
    min-width: 0px !important; }
  /* line 138, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx span.edx {
    text-transform: none;
    font: inherit; }
  /* line 143, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .static-container {
    margin: 0 auto 0;
    max-width: 1200px;
    padding: 60px 0 120px;
    width: 100%; }
    /* line 15, /edx/app/edxapp/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
    footer#footer-openedx .static-container:after {
      content: "";
      display: table;
      clear: both; }
    /* line 150, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .static-container .inner-wrapper {
      margin: 0 auto 0;
      width: 83.05085%; }
    /* line 155, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .static-container ol, footer#footer-openedx .static-container ul {
      list-style: disc; }
      /* line 158, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
      footer#footer-openedx .static-container ol li, footer#footer-openedx .static-container ul li {
        color: #3c3c3c;
        font: normal 1em/1.4em Georgia, Cambria, "Times New Roman", Times, serif;
        margin: 0; }
    /* line 165, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .static-container h1 {
      margin-bottom: 30px; }
    /* line 169, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .static-container h1 + hr {
      margin-bottom: 60px; }
    /* line 173, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .static-container p + h2, footer#footer-openedx .static-container ul + h2, footer#footer-openedx .static-container ol + h2 {
      margin-top: 40px; }
    /* line 177, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .static-container ul + p, footer#footer-openedx .static-container ol + p {
      margin-top: 20px; }
  /* line 182, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .loading-animation {
    animation: fa-spin 2s infinite linear;
    text-align: center;
    width: 100%; }
  /* line 188, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx mark {
    padding: 0 3px;
    border-radius: 2px;
    background-color: #f7e9a8;
    color: #333; }
  /* line 195, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .ie-banner {
    display: none;
    max-width: 1140px;
    min-width: 720px;
    margin: auto;
    border-radius: 0 0 3px 3px;
    background: #f4f4e0;
    color: #3c3c3c;
    padding: 5px 20px 8px;
    font-size: 13px;
    text-align: center; }
    /* line 207, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .ie-banner strong {
      font-weight: 700; }
  /* line 212, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .help-tab {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    position: fixed;
    top: 250px;
    left: 0; }
    /* line 221, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .help-tab a:link,
    footer#footer-openedx .help-tab a:visited {
      border: 1px solid #c8c8c8;
      border-top-style: none;
      border-radius: 0 0 10px 10px;
      background: rgba(255, 255, 255, 0.75);
      color: rgba(60, 60, 60, 0.75);
      font-weight: bold;
      text-decoration: none;
      padding: 6px 22px 11px;
      display: inline-block; }
      /* line 233, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
      footer#footer-openedx .help-tab a:link:hover, footer#footer-openedx .help-tab a:link:focus,
      footer#footer-openedx .help-tab a:visited:hover,
      footer#footer-openedx .help-tab a:visited:focus {
        color: white;
        background: #0075b4; }
  /* line 241, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .help-buttons {
    padding: 10px 50px;
    text-align: center; }
    /* line 245, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .help-buttons button {
      margin: .5rem 0;
      font-weight: initial;
      text-shadow: none;
      letter-spacing: initial !important;
      text-transform: normal !important;
      vertical-align: initial; }
      /* line 254, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
      footer#footer-openedx .help-buttons button:hover, footer#footer-openedx .help-buttons button:focus {
        background: #0075b4 !important;
        color: white;
        box-shadow: none !important;
        text-shadow: none !important; }
  /* line 265, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx #feedback_form input, footer#footer-openedx #feedback_form textarea {
    font: normal 1em/1.4em "Open Sans", Verdana, Geneva, sans-serif, sans-serif; }
  /* line 268, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx #feedback_form textarea[name="details"] {
    height: 150px; }
  /* line 274, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx #feedback_success_wrapper p {
    padding: 0 20px 20px 20px; }
  /* line 287, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .is-hidden {
    display: none; }
  /* line 303, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-openedx .nav-skip,
  footer#footer-openedx .transcript-skip {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -600px;
    overflow: hidden;
    background: white;
    border-bottom: 1px solid #fcfcfc;
    padding: 15px 10px; }
    /* line 316, /edx/app/edxapp/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-openedx .nav-skip:focus, footer#footer-openedx .nav-skip:active,
    footer#footer-openedx .transcript-skip:focus,
    footer#footer-openedx .transcript-skip:active {
      position: relative;
      top: auto;
      width: auto;
      height: auto;
      margin: 0; }

/* line 211, /edx/app/edxapp/edx-platform/lms/static/sass/elements/_typography.scss */
footer#footer-openedx .is-deprecated {
  font-weight: 600; }

/* line 6, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #c5c6c7;
  padding: 25px 10px 30px 10px;
  background: white;
  clear: both; }
  /* line 14, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
  .wrapper-footer footer#footer-openedx {
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; }
    /* line 15, /edx/app/edxapp/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
    .wrapper-footer footer#footer-openedx:after {
      content: "";
      display: table;
      clear: both; }
    /* line 15, /edx/app/edxapp/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
    .wrapper-footer footer#footer-openedx:after {
      content: "";
      display: table;
      clear: both; }
    /* line 20, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx p, .wrapper-footer footer#footer-openedx ol, .wrapper-footer footer#footer-openedx ul {
      font-family: "Open Sans", Verdana, Geneva, sans-serif, sans-serif; }
      /* line 24, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
      .wrapper-footer footer#footer-openedx p a, .wrapper-footer footer#footer-openedx ol a, .wrapper-footer footer#footer-openedx ul a {
        font-family: "Open Sans", Verdana, Geneva, sans-serif, sans-serif; }
    /* line 29, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx a {
      transition: link-color 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s;
      border-bottom: none;
      color: #0075b4;
      text-decoration: none !important; }
      /* line 35, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
      .wrapper-footer footer#footer-openedx a:hover, .wrapper-footer footer#footer-openedx a:focus, .wrapper-footer footer#footer-openedx a:active {
        border-bottom: 1px dotted #0075b4; }
    /* line 40, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx .icon {
      font-family: 'FontAwesome';
      font-style: normal; }
    /* line 46, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx .colophon {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      /* line 38, /edx/app/edxapp/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
      .wrapper-footer footer#footer-openedx .colophon:last-child {
        margin-right: 0; }
      @media screen and (min-width: 321px) and (max-width: 540px) {
        /* line 46, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .colophon {
          width: 100%;
          box-sizing: border-box; } }
      @media screen and (max-width: 320px) {
        /* line 46, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .colophon {
          width: 100%;
          box-sizing: border-box; } }
      /* line 58, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
      .wrapper-footer footer#footer-openedx .colophon .nav-colophon {
        margin: 5px 0 30px 0; }
        /* line 15, /edx/app/edxapp/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
        .wrapper-footer footer#footer-openedx .colophon .nav-colophon:after {
          content: "";
          display: table;
          clear: both; }
        /* line 62, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .colophon .nav-colophon li {
          float: right;
          margin-right: 15px; }
          /* line 66, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
          .wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
            color: #333333; }
            /* line 69, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
            .wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover, .wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus, .wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:active {
              color: #0075b4; }
          /* line 74, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
          .wrapper-footer footer#footer-openedx .colophon .nav-colophon li:last-child {
            margin-right: 0; }
      /* line 15, /edx/app/edxapp/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
      .wrapper-footer footer#footer-openedx .colophon .colophon-about:after {
        content: "";
        display: table;
        clear: both; }
      /* line 83, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
      .wrapper-footer footer#footer-openedx .colophon .colophon-about img {
        width: 68px;
        height: 34px;
        margin-right: 0;
        float: left; }
      /* line 90, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
      .wrapper-footer footer#footer-openedx .colophon .colophon-about p {
        float: left;
        width: 74.10533%;
        margin-left: 20px;
        padding-left: 20px;
        font-size: 0.8125em;
        background: transparent url(/static/images/bg-footer-divider.jpg) 0 0 no-repeat; }
    /* line 102, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx .references {
      margin: -10px 0 0 0;
      width: 31.76157%;
      display: inline-block; }
    /* line 108, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx .wrapper-logo {
      margin: 15px 0; }
      /* line 111, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
      .wrapper-footer footer#footer-openedx .wrapper-logo a {
        display: inline-block; }
        /* line 114, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .wrapper-logo a:hover {
          border-bottom: 0; }
    /* line 120, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx .copyright {
      margin: -2px 0 8px 0;
      font-size: 0.6875em;
      color: #767676;
      text-align: right; }
    /* line 127, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx .nav-legal {
      text-align: right; }
      /* line 15, /edx/app/edxapp/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
      .wrapper-footer footer#footer-openedx .nav-legal:after {
        content: "";
        display: table;
        clear: both; }
      /* line 131, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
      .wrapper-footer footer#footer-openedx .nav-legal li {
        display: inline-block;
        font-size: 0.6875em; }
        /* line 135, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .nav-legal li:not(:first-child) a:before {
          margin-right: 5px;
          content: "-"; }
    /* line 142, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx .nav-social {
      margin: 0;
      text-align: right; }
      /* line 146, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
      .wrapper-footer footer#footer-openedx .nav-social li {
        display: inline-block; }
        /* line 149, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .nav-social li:last-child {
          margin-right: 0; }
        /* line 153, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .nav-social li a {
          display: block; }
          /* line 156, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
          .wrapper-footer footer#footer-openedx .nav-social li a:hover, .wrapper-footer footer#footer-openedx .nav-social li a:focus, .wrapper-footer footer#footer-openedx .nav-social li a:active {
            border: none; }
        /* line 161, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .nav-social li img {
          display: block; }
    /* line 168, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx .footer-about-openedx {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: left;
      vertical-align: bottom; }
      /* line 38, /edx/app/edxapp/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
      .wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
        margin-right: 0; }
      @media screen and (min-width: 321px) and (max-width: 540px) {
        /* line 168, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .footer-about-openedx {
          width: 100%;
          box-sizing: border-box; } }
      @media screen and (max-width: 320px) {
        /* line 168, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .footer-about-openedx {
          width: 100%;
          box-sizing: border-box; } }
      /* line 181, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
      .wrapper-footer footer#footer-openedx .footer-about-openedx a {
        float: left;
        display: inline-block; }
        /* line 185, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
        .wrapper-footer footer#footer-openedx .footer-about-openedx a:hover {
          border-bottom: none; }
    /* line 192, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
    .wrapper-footer footer#footer-openedx .footer-language-selector label[for=footer-language-select] {
      display: inline-block;
      cursor: initial; }
  /* line 202, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
  .wrapper-footer.edx-footer footer .copyright {
    text-align: right; }
  /* line 206, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
  .wrapper-footer.edx-footer footer .nav-legal {
    text-align: right; }

/* line 216, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
.view-register .wrapper-footer footer, .view-login .wrapper-footer footer, .view-passwordreset .wrapper-footer footer {
  width: 960px; }
  /* line 219, /edx/app/edxapp/edx-platform/lms/static/sass/shared/_footer.scss */
  .view-register .wrapper-footer footer .colophon-about img, .view-login .wrapper-footer footer .colophon-about img, .view-passwordreset .wrapper-footer footer .colophon-about img {
    margin-top: 30px; }
