.search-controls {
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 20px;
}

#home-search {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25em;
    box-shadow: none;
    font-size: 1.25em;
    font: italic 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
    display: inline-flex;
}

#search-panel {
    background-color: whitesmoke; 
    min-height: 700px;
}

.badge {
    background-color: #777;
    color: #fff;
    float: right;
}

.list-group-item > h6 {
   font-size: 14px !important;
}

article.course{
   display: inline-grid;
   margin-left: 10px;
}

section.courses{
   width:100%!important;
}

.fa-spin {
   font-size:44px
}

.panel.panel-default {
   margin-top: 20px;
}

