.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

#upvx-twitter {
   max-width: 80%;
   margin-right: auto;
   margin-left: auto;
}

#upvxProfile .carousel-item .user{
    color: #66b366;
    font-size: 13px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#upvxProfile .carousel-item .tweet{
    color:#919191;
    height: 70px;
}

#upvxProfile .carousel-item .timePosted{
    color:#3c3c3c;
    display: block;
    font-size: 12px;
    font-weight: 600;    
}

#upvxProfile .carousel-item{
    box-shadow: 0 1px 4px 0 rgba(154,154,154,0.4);
    background: #ededed;
    border-radius: 10px;    
    margin-left: auto;
    margin-right: auto;    
    padding: 10px;
}

#upvxProfile .carousel-inner {
    padding: 0;
}
